.main-content {

  h3 {
    text-align: center;
    text-transform: uppercase;
    color: $color-body;
    margin: 0;
  }

  p {
    color: $color-body-lighter;
  }

  img {
    width: 100%;
  }

  @include breakpoint(medium-up){
    h3 {
      margin: 34px 0;
    }

    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .column {
        width: 47%;
      }
    }
  }

}
